body {
  /* position: absolute; */
  height: 80vh;
  /* padding: 0; */
  /* margin: 0; */
  margin-left: 350px;
  /* box-sizing: border-box; */
  background-image: url(./assets/istockphoto-1313115119-2048x2048.jpg);
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
